.options {
  display: flex;
}

.options__item {
  position: relative;
  margin-left: 10px;
  padding: 2px 5px;
  transition: all 0.5s;
  opacity: 0.8;
  border: 2px solid #c3c347;
  border-radius: 100px;
  cursor: pointer;

  &_selected {
    opacity: 1;
    background-color: #c3c347;
  }

  &:hover {
    opacity: 1;
  }
}

.options__input {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}